#ifndef credentials_H
#define credentials_H

const unsigned char credCnt = 2;
const char* SSID[credCmt] = {
    "ssida",
    "ssidb"
};
const char* PASS[credCnt] = {
    "passabcd",
    "passefgh"
};

const char* chatID = "1111111111";
const char* botName = "bbbbbbb";
const char* botToken = "1234567890abcdefgh";

#endif
